<h1>Welcome to my <%= @list.name %> list!</h1>
<p><%= @list.name %></p>

<%= link_to "⬅ Back", lists_path, class: 'btn btn-primary' %>
<%# <%= link_to 'Create a new bookmark', new_list_bookmark_path(id: @list.id) %> %>
